body{
    background-color:#FBD1A2;  /*rgb(220, 221, 189);*/
    animation: 10s cubic-bezier(0.25, 1, 0.30, 1) circle-in-center both;
}
header{
    background-color:#FC9F5B;/*rgb(241, 211, 41);*/
    height: 200px;
    width: 100vw;
    text-align: center;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    box-sizing: border-box; 
  }
  
header div{
    display: block;
    height: 100%;
    width: 80%;
}

nav{
    display: inline;
    float:right
}
nav ul{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

nav ul li{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    color:#FBD1A2;
    margin-top: 20px;
    margin-right: 40px;
    font-size: large;
    /*padding-top: 20px;*/
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: middle;
}

h1{
    display: inline-flex;
    font-family: 'Roboto', sans-serif;
    font-weight:900;
    color:#FBD1A2;
    font-size: 30px;
    padding-left: 20px;
    margin: 10px 0;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .header-container {
      flex-direction: column; 
    }
  
    nav ul {
      text-align: center; 
    }
  
    nav ul li {
      display: block; 
      margin: 10px 0; 
    }
  
    h1 {
      font-size: 24px; 
    }
  }

.header-container{
    width: 70%;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

}

.form-container {
    margin-bottom:100px;
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    text-align: center;
    color:#FC9F5B;
    font-size: medium;
    font-weight: 700;
}


.botones input[type="file"] {
    font-family: 'Roboto', sans-serif; 
    color: #FC9F5B; 
    font-weight: 700;
    background-color: #ECE4B7;
}

@keyframes circle-in-center {
    from {
      clip-path: circle(0%);
    }
    to {
      clip-path: circle(125%);
    }
  }
  
  [transition-style="in:circle:center"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
  }

  nav ul li a:active {
    color:#FBD1A2; 
}

a:link {
  color:#FBD1A2; 
}

a:visited {
  color: #FBD1A2;
}
