{{#partial "contenido" }}
            <link rel="stylesheet" href="/css/estiloPaginaInicio.css">
        
        <header>
            <div class="header-container">
                <h1> ¡Carge sus entidades y organismos aqui! </h1>
                <nav>
                    <ul>
                        <li>
                            <i class='bx bx-question-mark'></i>
                             <a href="/faq"> FAQ </a>
                        </li>
                        <li> 
                            <i class='bx bxs-file-doc'></i>
                            <a href="https://docs.google.com/document/d/11rQXhiO0EiZEqh_RzlydB1GPJFIsSqRCcuQn3e2JdtE/edit"> Consigna </a>
                         </li>
                        <li>
                            <i class='bx bxs-home-alt-2'></i>
                            <a href="/incidentes"> Incidentes </a>
                        </li>
                    </ul>
                </nav>
                
            </div>
        </header>

        <div class="main-container">
            <div class="form-container">
                <form action="/cargarEntidad" method="post" enctype="multipart/form-data">
                    <input type="file" name="csvFile" accept=".csv">
                    <button type="submit">Subir CSV</button>
                </form>
            </div>
        </div>

<script>

    let sideBar = document.querySelector(".sideBar");
    let sidebarBtn = document.querySelector(".bx-menu");
    let homeSection = document.querySelector(".home-section");
    console.log(sideBar);
    
    sidebarBtn.addEventListener("click", ()=>{
        sideBar.classList.toggle("close")
        homeSection.classList.toggle("close");
    });
    
    </script>


    {{/partial}}
    {{> templates/base }}
            
